/* paal table @extends data table */
.paalTable {
  padding: 20px;
}

.paalTable table {
  border: 1px solid #000;
}

.paalTable th,
.paalTable td {
  border: 1px solid #000;
}

.paalTable thead tr {
  background-color: #fff0f8;
}

.paalTable th {
  color: #000;
  font-weight:bold
}

.paalTable .oneTenth {
  width: 10%;
}

.paalTable .fullTitleWidth {
  width: 70%;
}

.paalTable .halfTitleWidth {
  .width: 35%;
}
